.artist-carousel {
  position:relative;
  width:80%;

  img{
    width: 100%;
  }

  button {
    position:absolute;
    top: 50%;
    background-color: wheat;
    transform: translate(0,-50%);


    &.left {
      left: 10px;
    }

    &.right {
      right:10px
    }
  }
}
